:root {

    // #F7AEF8
    // #B388EB
    // #8093F1
    // #72DDF7
    // #F4F4ED

    // --background-bg: #131417;
    // --background-bg2:#131417;
    --background-bg: #1E1F26;
    --background-bg2:#1E1F26;

    --overviewcard-bg:#F4F4ED;
    
    --button: #5c5b509a;

    --walletcard-bg:#1E1F26;
    --walletcard-bg2:#1E1F26;

    --wallet-card-text : #1E1F26;

    --walletcard-btn:#7e5a16a9;
    --walletcard-btn2:#8093F1;

    --walletcard-btn-hover:#5c5b509a;
    --walletcard-btn-hover2:#5c5b50;

    // --menubar-bg:#1E1F26;
    --menubar-bg:#131417;

    --menubar-item-active:#8093F1;
    --menubar-item-hover:#93a2eb;

    --item-shadow: rgba(0, 0, 0, 0.6) ;
    --item-shadow-hover: rgba(0, 0, 0, 19%);

    --card-gap : 0.75rem;
    
}