:root {

    // #F7AEF8
    // #B388EB
    // #8093F1
    // #72DDF7
    // #F4F4ED

    --background-bg: rgb(255, 255, 255);
    --background-bg2:rgb(252, 252, 233);

    --overviewcard-bg:#F4F4ED;

    --walletcard-bg:#B388EB;
    --walletcard-bg2:#8093F1;

    --walletcard-btn:#72DDF7;
    --walletcard-btn2:#72DDF7;

    --walletcard-btn-hover:#72ddf759;
    --walletcard-btn-hover2:#72DDF7;

    --sidebar-bg:rgba(0, 0, 0, 0.781);

    --sidebar-item-active:#276749;
    --sidebar-item-active:#276749;

}